<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    
  </header>

  <main>
    <div class="content container">
      <%= yield %>
    </div>
  </main>

  <footer>
    
  </footer>

</body>
</html>
